#
# Input configuration
#
input type:touchpad {
    dwt enabled
    tap disabled
    # tap enabled
    natural_scroll disabled
    middle_emulation enabled
}

#
# Keyboard layouts
#
input type:keyboard {
    # xkb_layout "de(us),it(us),us(colemak_dh)"
    xkb_layout "de(us),it(us)"
    # langauge toggle with right ctrl
    # make caps lock behave like esc
    xkb_options "grp:rctrl_toggle,caps:escape"
}
