# status bar
bar {
    position bottom

    # When the status_command prints a new line to stdout, swaybar updates.
    # The default just shows the current date and time.
    # status_command while date +'%Y-%m-%d %I:%M %p'; do sleep 1; done
    status_command while echo \" \
        $(cat /sys/class/power_supply/BAT0/status | cut -c-3 | xargs) \
        $(cat /sys/class/power_supply/BAT0/capacity) \
        $(wpctl get-volume @DEFAULT_AUDIO_SINK@ | cut -c9-) \
        $(wpctl get-volume @DEFAULT_AUDIO_SOURCE@ | cut -c9-) \
        $(swaymsg -t get_inputs | grep -i "active_layout_name" | uniq | cut -d'"' -f4 | cut -c-3) \
        \" \
        | tr '[:upper:]' '[:lower:]' ; \
        do sleep 1; \
    done;

   colors {
        statusline $text
        background $bg
        focused_workspace  $bg  $focus $text
        inactive_workspace $bg  $bg    $text
        urgent_workspace   $bg  $focus $text
    }

    # disable vertical scrolling
    bindsym button4 nop
    bindsym button5 nop
    # disable horizontal scrolling
    bindsym button6 nop
    bindsym button7 nop
}

