# background image
output * bg  /home/dulvui/sync/computer/assets/solarized-debian.svg fill

# colors variables
set $bg #fefefe
set $bg2 #e2e2e2
set $text #0c0c0c
set $focus #d7412c

# client colors
client.focused          $bg $bg  $text $text  $bg
client.focused_inactive $bg2 $bg2  $text $focus $bg2
client.unfocused        $bg2 $bg2 $text $focus $bg2
client.background       $bg

# remove borders
default_border pixel 1
