#
# Screenshot
#
# capture all screens to clipboard    
bindsym Print exec grim - | wl-copy
# capture the specified screen area to clipboard    
bindsym Shift+Print exec grim -g "$(slurp)" - | wl-copy
# capture the focused monitor to clipboard    
bindsym Shift+Control+Print exec grim -o $(swaymsg -t get_outputs | jq -r '.[] | select(.focused) | .name') - | wl-copy

#
# mako keybind
#
# bindsym $mod+n exec makoctl mode -s silence
# bindsym $mod+Shift+n exec makoctl mode -s default


#
# default prowrams like file explorer, web browser and mail client
#
bindsym $mod+t exec thunar

#
# fn key binds
#

bindsym XF86AudioMute exec wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle
bindsym XF86AudioRaiseVolume exec wpctl set-volume @DEFAULT_AUDIO_SINK@ 5%+
bindsym XF86AudioLowerVolume exec wpctl set-volume @DEFAULT_AUDIO_SINK@ 5%- 
bindsym XF86AudioRaiseVolume+Shift exec wpctl set-volume @DEFAULT_AUDIO_SINK@ 1%+
bindsym XF86AudioLowerVolume+Shift exec wpctl set-volume @DEFAULT_AUDIO_SINK@ 1%- 
bindsym XF86AudioMicMute exec wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle 

bindsym XF86MonBrightnessUp exec light -A 5
bindsym XF86MonBrightnessDown exec light -U 5
bindsym XF86MonBrightnessUp+Shift exec light -A 1
bindsym XF86MonBrightnessDown+Shift exec light -U 1


