#
# Auto starts
#

# for screen-share in browser
exec /usr/libexec/xdg-desktop-portal -r
exec /usr/libexec/xdg-desktop-portal-wlr


# always start
exec_always pkill kanshi; exec kanshi
exec_always wlsunset -S 06:00 -s 19:00

# assign workspaces
assign [app_id="org.keepassxc.KeePassXC"] workspace 10

# start once
exec foot --server
# for faster startup
exec thunar --daemon
exec mako
exec keepassxc

#
# Browsers
#

# apply mark for Xwayland and wayland native browser windows
# for_window [class="Chromium-browser"] mark Browser
# for_window [class="Brave-browser"] mark Browser
# for_window [app_id="Chromium-browser"] mark Browser
# for_window [app_id="brave-browser"] mark Browser
for_window [app_id="firefox-esr"] mark Browser
for_window [app_id="org.kde.falkon"] mark Browser

# firefox wayland screensharing indicator
for_window [app_id="Firefox-esr" title="Firefox — Sharing Indicator"] {
    floating enable
}


#
# Godot
#

# Godot floating windows on X
for_window [class="Godot"] layout tabbed
# Godot floating windows on Wayland
for_window [app_id="org.godotengine.Editor"] layout tabbed

# editor windows
for_window [title="Open a File or Directory"] floating enable
for_window [title="Import Existing Project"] floating enable
for_window [title="Create Script"] floating enable
for_window [title="Create New Resource"] floating enable
for_window [title="Create New Node"] floating enable
for_window [title="Create Shader"] floating enable
for_window [title="Project Settings \(project.godot\)"] floating enable, resize set 800px 600px, move position center
for_window [title="Event Configuration"] floating enable
for_window [title="Editor Settings"] floating enable, resize set 800px 600px, move position center


#
# Media, like VLC
#

# apply mark for Xwayland and wayland native media player windows
for_window [class="vlc"] mark Media

#
# inhibit screen lock for all fullscreen windows
# 
for_window [class="^.*"] inhibit_idle fullscreen
for_window [app_id="^.*"] inhibit_idle fullscreen

